html {
    height: 100%;
    padding: 0;
    margin: 0;
    background: #ffffff; 
    font-family: 'Open Sans', 'Droid Serif', sans-serif;
}

body {
    height: 100%;
}

#container {
    height: auto;
    min-height: 100%;
}

#header h1 {
    font-family: 'Droid Sans', 'Ubuntu', sans-serif;
    color: #000000;
    text-align: center;
}

#header a {
    text-decoration: none;
    color: #000000;
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #9ab54f;
}

#nav ul li {
    display: inline;
    margin: 0;
    padding: 0;
}

#nav ul li a {
    margin: 0 0 0 1px;
    padding: 3px 10px;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    text-transform: none;
    text-decoration: none;
    margin-bottom: 0;
}

#nav ul li a:hover {
    color: #9ab54f;
    background-color: #ffffff;
}
/*
#nav ul li a.active {
    color: #9ab54f;
    background-color: #ffffff;
}
*/
#content {
    color: #000000;
}

#infobox {
    color: #000000;
    margin: auto;
    background: #ffffff;
    border-top: 2px solid #9ab54f;
    padding: 30px 30px 30px 30px;
    min-width: 40%;
    max-width: 60%;
}

#infobox a {
    color: #1122cc;
}

#infobox a:hover {
    text-decoration: underline;
}

#disqus_thread {
    margin: auto;
}

#footer {
    font-size: 9pt;
    text-align: center;
    clear: both;
    position: relative;
    height: 10px;
    margin-top: -10px;
}
