<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Quicksand|Chivo|Ubuntu+Condensed|Alice|Tinos|Kelly+Slab|Droid+Sans|Open+Sans|Droid+Serif|Ubuntu|Arvo|Philosopher' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../../main.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Joel Griffith - {{ page.title }}</title>
  </head>
  <body>
    <div id="content">
      <h2>Joel Griffith</h3>
      <div id="post">
        {{ content }}
      </div>
    </div>
  </body>
</html>
