<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Quicksand|Chivo|Ubuntu+Condensed|Alice|Tinos|Kelly+Slab|Droid+Sans|Open+Sans|Droid+Serif|Ubuntu|Arvo|Philosopher' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../../main.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Joel's Blog - {{ page.title }}</title>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26662557-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="container">
      <div id="header">
          <h1><a href="../../../index">Joel Griffith</a></h1>
      </div>
      <div id="nav">
        <ul>
          <li><a href="../../../projects">Projects</a></li>
          <li><a href="../../../resume">R&#233;sum&#233;</a></li>
          <li><a href="../../../contact">Contact Me</a></li>
          <li><a class="active" href="../../../blog">Blog</a></li>
        </ul>
      </div>
      <br />
      <div id="content">
        <div id="infobox">
          <h2>{{ page.title }}</h2>
          {{ content }}
          <div id="disqus_thread"></div>
          <script type="text/javascript">
            var disqus_shortname = 'jgriffy';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
      </div>
    </div>
    <div id="footer">
      <span>Copyright 2012 Joel Griffith. All rights reserved.</span>
    </div>
  </body>
</html>
